<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of available boards</title>
  <style type="text/css">
    .boards {
      border: 1px solid steelblue;
      width: 300px;
      border-collapse: collapse;
    }

    .boards tr td, th {
      padding: 5px;
      border: 1px solid steelblue;
    }

    .boards td:last-child, td:first-child {
      width: 50px;
    }
  </style>
</head>

<body>

<h2>Home page</h2>

<h3>List of available boards:</h3>

<div class="commandsBoards">
  <a th:href="@{/task-management/board/new}" href="boardConfiguration.html" type="button">
    <button>New board</button>
  </a>
</div>

<br>

<table class="boards" id="boards">
  <thead>
  <tr>
    <th>№</th>
    <th>Owner</th>
    <th>Board Name</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  const boardTable = document.getElementById('boards');
  let count = 1;
  fetch('/api/task-management/board')
          .then(response => response.json())
          .then(boards => boards.forEach(board => {
            const row = boardTable.insertRow();

            row.insertCell(0).innerText = count;
            row.insertCell(1).innerText = board.owner.username;

            const boardCell = row.insertCell(2);
            const boardLink = document.createElement('a');
            boardLink.innerHTML = board.name;
            boardLink.href = "/task-management/board/" + board.id;
            boardCell.appendChild(boardLink);

            count++;
          }))
          .catch(error => console.error(error));
</script>

</body>
</html>