<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>

    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>

<body onload="uploadDataToPage()">

<div class="currentUser" id="currentUser">Current user: </div>
<br>
<a th:href="@{/task-management}" href="home.html">Home</a>
<br>

<h2>User Information</h2>

<div class="row">
    <label for="userId">Id:</label>
    <input id="userId" name="userId" type="text" readonly="readonly" th:value="*{userId}"/>
</div>

<div class="row">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text"/>
</div>

<br>

<script>
    let token;
    const currentUser = document.getElementById('currentUser');

    const userId = document.getElementById('userId');
    const username = document.getElementById('username');

    function uploadDataToPage() {
        token = localStorage.getItem('token');
        if (!token) {
            location.href = "/login";
        }
        uploadCurrentUserToPage();

        uploadUserToPage();
    }

    function uploadCurrentUserToPage() {
        fetch('/api/auth/current', {
            method: "GET",
            headers: {
                'Authorization': `Bearer ${token}`
            },
            body: null
        })
            .then(response => response.json())
            .then(user => {
                const userLink = document.createElement("a");
                userLink.innerHTML = user.username;
                userLink.href = "/task-management/user/" + user.id;
                currentUser.appendChild(userLink);
            })
            .catch(error => console.error(error));
    }

    function uploadUserToPage() {
        fetch('/api/task-management/user/' + userId.value, {
            method: "GET",
            headers: {
                'Authorization': `Bearer ${token}`
            },
            body: null
        })
            .then(response => response.json())
            .then(user => {
                username.value = user.username;
            })
            .catch(error => {
                console.error(error);
                location.href = "/login";
            });
    }
</script>

</body>
</html>